.targett {
    display: grid;
    padding: 20px;
    width: 200px;
    background-color: rgb(67, 117, 209);
    text-align: initial;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
form {
    display: flex;
    justify-content: center;
    padding: 55px 0 55px 0;
}
img {
    background-image: url(https://media.vandalsports.com/i/640x360/5-2022/202251816546_1.jpg);
    height: 150px;
    background-position: center;
    background-size: cover;
}
label {
    padding-top: 15px;
}
.texalert {
    font-size: 14px;
    color: red;
}
.buttomForm {
    margin-top: 20px;
}