.searchStyle {
    padding: 10px;
    display: inline-flex;
    box-shadow: 2px 2px 15px 2px black;
    border-radius: 5px;
}
.inputSearch {
    padding: 5px;
    border-radius: 5px;
}
.buttonSearch {
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(69, 130, 137);
    color: white;
    cursor: pointer;
}
.buttonSearch:hover {
    background-color: rgb(36, 71, 75);
}